.track{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    height: 100px;
    margin-bottom: 30px;

    img{
        box-sizing: border-box;
        width: 90px;
        height: 90px;
    }

    &__button{
        padding: 0;
        background: transparent;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

    &__wrap{
        display: flex;
        gap: 25px;
        align-items: center;
    }
}